<html>
<div class='container'>
<%= form_for(@post) do |d| %>
<h1><%= d.text_field :title, :class => 'form-control' %></h1>
<p><%= d.text_area :content, :class => 'form-control' %></p>
<%= d.submit "Create", :class => 'btn btn-primary' %>
<% end %>
<br>
</div>
</html>
